<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%@recipes.each do |rec|%>
    <a href="/recipes/<%=rec.id%>">
    <h2><%=rec.name%></h2></a>
    <p><%=rec.ingredients%></p>
    <p><%=rec.cook_time%></p>
    <%end%>
  </body>
</html>
